body {

    background-color:white;
    position: absolute;
    top: 30%;
    left: 40%;
    margin: -25px 0 0 -25px;
}
h2 {
    color: rgb(116, 5, 5);
}
h4 {
    background-color: rgb(167, 127, 127);
    color: cornsilk;
}
/* div {
    display:block;
    margin: 20px;
} */
button {
    background-color: brown;
}
i {
    background-color: rgb(167, 127, 127);
}
/* .input-box {
    margin: auto;
} */
#email {
    width: 95%;
}
#email-box {
    display: flex;
}
#account-group {
    display: flex;
}