body {

    background-color:white;
    position: absolute;
    top: 30%;
    left: 40%;
    margin: -25px 0 0 -25px;
}
h2 {
    color: rgb(116, 5, 5);
}
h4 {
    background-color: rgb(167, 127, 127);
    color: cornsilk;
    padding: 5px;
}
button {
    background-color: brown;
    color: cornsilk;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}
#email, #card-number {
    width: 94%;
}
#email-box,
#card-group .input-box:last-child {
    display: flex;
    justify-content: space-between;
}
#account-group, #card-box, #card-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#account-group .input-box,
#card-group .input-box,
#card-group .input-box:last-child select {
    width: 49%;
}
#account-group .input-box input,
#card-group .input-box input {
    width: 88%;
}
#payment-group {
    margin-bottom: 10px;
}
#button-container {
    margin: 30px 0;
    text-align: center;
}